diff --git a/drivers/input/touchscreen/Kconfig b/drivers/input/touchscreen/Kconfig
index e1d8003d01f8..5ba94541e36f 100644
--- a/drivers/input/touchscreen/Kconfig
+++ b/drivers/input/touchscreen/Kconfig
@@ -962,4 +962,35 @@ config TOUCHSCREEN_ZFORCE
 	  To compile this driver as a module, choose M here: the
 	  module will be called zforce_ts.
 
+config TOUCHSCREEN_MXT540E
+       tristate "Atmel MXT540E Touchscreen Interface"
+       depends on I2C
+       help
+         Say Y here if you want support for atmel_MXT540E touchscreen controllers.
+         To compile this driver as a module, choose M here: the
+         module will be called mxt540e.
+
+config TOUCHSCREEN_DUMP_MODE
+	bool "touchscreen dump mode"
+	depends on I2C
+	help
+	  Say Y here if you need to get raw data.
+
+	  If unsure, say N.
+
+source "drivers/input/touchscreen/synaptics_dsx/Kconfig"
+source "drivers/input/touchscreen/imagis_30xxc/Kconfig"
+source "drivers/input/touchscreen/imagis_30xxh/Kconfig"
+source "drivers/input/touchscreen/zinitix/Kconfig"
+source "drivers/input/touchscreen/melfas_mms400/Kconfig"
+source "drivers/input/touchscreen/stm/Kconfig"
+source "drivers/input/touchscreen/stm/fts7/Kconfig"
+source "drivers/input/touchscreen/mxt_t/Kconfig"
+source "drivers/input/touchscreen/cyttsp5/Kconfig"
+source "drivers/input/touchscreen/synaptics_dsx_2.6/Kconfig"
+source "drivers/input/touchscreen/synaptics_td4x00/Kconfig"
+source "drivers/input/touchscreen/synaptics_dsx2/Kconfig"
+source "drivers/input/touchscreen/sec_incell_ts/Kconfig"
+source "drivers/input/touchscreen/sec_ts/Kconfig"
+source "drivers/input/touchscreen/stm_fts1ba90a/Kconfig"
 endif
