diff --git a/drivers/hwmon/Kconfig b/drivers/hwmon/Kconfig
index 5286d7ce1f9e..76d91b4edf06 100644
--- a/drivers/hwmon/Kconfig
+++ b/drivers/hwmon/Kconfig
@@ -1680,6 +1680,15 @@ config SENSORS_ULTRA45
 	  This driver provides support for the Ultra45 workstation environmental
 	  sensors.
 
+config SENSORS_SEC_THERMISTOR
+	tristate "SEC Thermistor support"
+	depends on EXYNOS_ADC
+	default n
+	help
+	  This driver supports SEC Thermistor sensor reading and its
+	  interpretation. The driver uses s3c adc driver and needs
+	  adc-temperature mapping table for conversion.
+
 if ACPI
 
 comment "ACPI drivers"
