diff --git a/drivers/misc/Kconfig b/drivers/misc/Kconfig
index 878f09df7bf5..9b3fec617421 100644
--- a/drivers/misc/Kconfig
+++ b/drivers/misc/Kconfig
@@ -314,6 +314,12 @@ config ISL29003
 	  This driver can also be built as a module.  If so, the module
 	  will be called isl29003.
 
+config KNOX_KAP
+       bool "Enable KNOX KAP mode"
+       default n
+       help
+              Knox Active Protection mode
+
 config ISL29020
 	tristate "Intersil ISL29020 ambient light sensor"
 	depends on I2C
@@ -490,6 +496,18 @@ config USB_SWITCH_FSA9480
 	  stereo and mono audio, video, microphone and UART data to use
 	  a common connector port.
 
+config SD8XXX_RFKILL
+        tristate "Rfkill power control for Marvell sd8xxx wlan/bt"
+        depends on MARVELL_DRIVERS
+        select RFKILL
+        select WIRELESS_EXT
+        select WEXT_PRIV
+        select WEXT_SPY
+        default n
+        ---help---
+         Creates an rfkill entry in sysfs for power control of Marvell
+         sd8xxx wlan/bt chips.
+
 config LATTICE_ECP3_CONFIG
 	tristate "Lattice ECP3 FPGA bitstream configuration via SPI"
 	depends on SPI && SYSFS
@@ -526,6 +544,13 @@ config UID_SYS_STATS
 	  Per UID based cpu time statistics exported to /proc/uid_cputime
 	  Per UID based io statistics exported to /proc/uid_io
 
+config DEBUG_UID_CPUTIME
+	bool "Record each uid cputime"
+	depends on UID_SYS_STATS
+	default n
+	help
+	  Record each uid cputime for debugging
+
 config UID_SYS_STATS_DEBUG
 	bool "Per-TASK statistics"
 	depends on UID_SYS_STATS
@@ -539,6 +564,46 @@ config MEMORY_STATE_TIME
 	help
 	  Memory time statistics exported to /sys/kernel/memory_state_time
 
+config SAMSUNG_JACK
+	bool "3.5 PI Jack driver for Samsung devices"
+	depends on INPUT && INPUT_GPIO && SWITCH
+	default n
+	help
+	 This is 3.5 PI JACK driver for Samsung devies.
+	 sec_jack from samsung driver used for samsung devices.
+
+	 To samsung jack is reviewed and supported in all the
+	 samsung devices.
+
+config TIMA_LOG
+	tristate "Support for dumping TIMA log"
+	depends on TIMA
+	default y
+	help
+		This option enables support for dumping TIMA log.
+
+config LEDS_IRIS_IRLED_SUPPORT
+	tristate "this feature allows IRIS IRLED"
+	default n
+	help
+	  This is a driver for IRIS Led driver
+
+config LEDS_IRIS_FPGA_ICE40XX
+	tristate "this feature allows ICE40XX IRIS"
+	default n
+	help
+	  This is a driver for IRIS LEd driver based on Lattice chip.
+	  Lattice FPGA can support IRIS LED.
+	  To compile this driver as a module, choose M here.
+	  If unsure, say N.
+
+config LEDS_ICE40XX_POWER_CONTROL
+	tristate "this feature allows ICE40XX IRIS 1P2 PIN CONTROL"
+	default n
+	help
+	  This is a for driver for IRIS LEd driver based on Lattice chip.
+	  Lattice FPGA can support IRIS LED and this allow power control.
+
 source "drivers/misc/c2port/Kconfig"
 source "drivers/misc/eeprom/Kconfig"
 source "drivers/misc/cb710/Kconfig"
@@ -552,4 +617,10 @@ source "drivers/misc/mic/Kconfig"
 source "drivers/misc/genwqe/Kconfig"
 source "drivers/misc/echo/Kconfig"
 source "drivers/misc/cxl/Kconfig"
+source "drivers/misc/mcu_ipc/Kconfig"
+source "drivers/misc/uart_sel/Kconfig"
+source "drivers/misc/modem_v1/Kconfig"
+source "drivers/misc/gnss_if/Kconfig"
+source "drivers/misc/bhy/Kconfig"
+source "drivers/misc/tzdev/Kconfig"
 endmenu
