diff --git a/block/Kconfig b/block/Kconfig
index 161491d0a879..1515656e3c6d 100644
--- a/block/Kconfig
+++ b/block/Kconfig
@@ -100,6 +100,12 @@ config BLK_DEV_THROTTLING
 
 	See Documentation/cgroups/blkio-controller.txt for more information.
 
+config JOURNAL_DATA_TAG
+       bool "Enable FS journal tagging for UFS & eMMC"
+       default n
+       ---help---
+       Enable FS journal tagging for UFS & eMMC. If unsure, say N.
+
 config BLK_CMDLINE_PARSER
 	bool "Block device command line partition parser"
 	default n
@@ -124,4 +130,9 @@ config BLOCK_COMPAT
 	depends on BLOCK && COMPAT
 	default y
 
+config BLOCK_SUPPORT_STLOG
+	bool "Enable storage log"
+	depends on BLOCK && PROC_STLOG
+	default y
+
 source block/Kconfig.iosched
