diff --git a/drivers/usb/misc/Kconfig b/drivers/usb/misc/Kconfig
index 34e2e29061c9..8edcd784eb0a 100644
--- a/drivers/usb/misc/Kconfig
+++ b/drivers/usb/misc/Kconfig
@@ -46,6 +46,16 @@ config USB_SEVSEG
 	  To compile this driver as a module, choose M here: the
 	  module will be called usbsevseg.
 
+config USB_RIO500
+	tristate "USB Diamond Rio500 support"
+	help
+	  Say Y here if you want to connect a USB Rio500 mp3 player to your
+	  computer's USB port. Please read <file:Documentation/usb/rio.txt>
+	  for more information.
+
+	  To compile this driver as a module, choose M here: the
+	  module will be called rio500.
+
 config USB_LEGOTOWER
 	tristate "USB Lego Infrared Tower support"
 	help
@@ -190,7 +200,9 @@ config USB_TEST
 	  including sample test device firmware and "how to use it".
 
 config USB_EHSET_TEST_FIXTURE
-        tristate "USB EHSET Test Fixture driver"
+        bool "USB EHSET Test Fixture driver"
+	depends on HOST_COMPLIANT_TEST
+	default y
         help
 	  Say Y here if you want to support the special test fixture device
 	  used for the USB-IF Embedded Host High-Speed Electrical Test procedure.
