diff --git a/drivers/staging/vnswap/Kconfig b/drivers/staging/vnswap/Kconfig
new file mode 100644
index 000000000000..c236f62ff42b
--- /dev/null
+++ b/drivers/staging/vnswap/Kconfig
@@ -0,0 +1,4 @@
+config VNSWAP
+	tristate "Fake device for swap"
+	depends on BLOCK && SYSFS && ZSWAP
+	default n
