diff --git a/drivers/bluetooth/Kconfig b/drivers/bluetooth/Kconfig
index 4547dc238fc7..70da9b793a59 100644
--- a/drivers/bluetooth/Kconfig
+++ b/drivers/bluetooth/Kconfig
@@ -243,4 +243,32 @@ config BT_WILINK
 	  Say Y here to compile support for Texas Instrument's WiLink7 driver
 	  into the kernel or say M to compile it as module (btwilink).
 
+config BT_QCA9377
+	bool "Enable QCA9377 driver"
+	default n
+	help
+	  Adds QCA9377 RFKILL driver for QCA9377 chipset for exynos54xx.
+	  default is n.
+
+config BT_BCM43XX
+	bool "Enable BCM43xx driver"
+	default n
+	help
+	  Adds BCM43xx RFKILL driver for Broadcom BCM43xx chipset for exynos7870.
+	  default is n.
+
+config FM_LNA
+	bool "Enable FM Radio LNA(Low Noise Amplifier)"
+	default n
+	help
+	  This enables LNA(Low Noise Amplifier) ON for FM radio.      
+	  default is n.
+
+config FM_DTV_CTRL
+	bool "Enable Antenna Switch(FM_ANT, DTV_B28_ANT e DTV_ANT)"
+	default n
+	help
+	  This enables Antenna switch for DTV model.      
+	  default is n.
+
 endmenu
