diff --git a/drivers/media/platform/exynos/fimc-is2/sensor/module_framework/dphy/Kconfig b/drivers/media/platform/exynos/fimc-is2/sensor/module_framework/dphy/Kconfig
new file mode 100644
index 000000000000..3e0aea997859
--- /dev/null
+++ b/drivers/media/platform/exynos/fimc-is2/sensor/module_framework/dphy/Kconfig
@@ -0,0 +1,6 @@
+config CAMERA_FPGA_DPHY
+        bool "Use FPGA D-PHY"
+	depends on USE_DIRECT_IS_CONTROL
+        default n
+        help
+          Use to build FPGA D-PHY.
