diff --git a/drivers/input/touchscreen/stm/fts7/Kconfig b/drivers/input/touchscreen/stm/fts7/Kconfig
new file mode 100644
index 000000000000..9bff239a218b
--- /dev/null
+++ b/drivers/input/touchscreen/stm/fts7/Kconfig
@@ -0,0 +1,21 @@
+#
+# STMicroelectronics TOUCH driver configuration
+#
+
+config TOUCHSCREEN_FTS7
+	tristate "STMicroelectronics i2c multitouch touchscreen with FingerTipS"
+	depends on I2C
+	help
+		Say Y here to enable STMicroelectronics touchscreen support.
+		If unsure, say N.
+		To compile this driver as a module, choose M here: the
+		module will be called STM_ts.
+
+config FTS_SUPPROT_MULTIMEDIA
+	tristate "STMicroelectronics suport multimedia function"
+	depends on I2C
+	help
+		Say Y here to enable STMicroelectronics touchscreen support.
+		If unsure, say N.
+		To compile this driver as a module, choose M here: the
+		module will be called STM_ts.
