diff --git a/drivers/scsi/ufs/Kconfig b/drivers/scsi/ufs/Kconfig
index 6e07b2afddeb..c4ff7075d598 100644
--- a/drivers/scsi/ufs/Kconfig
+++ b/drivers/scsi/ufs/Kconfig
@@ -35,8 +35,6 @@
 config SCSI_UFSHCD
 	tristate "Universal Flash Storage Controller Driver Core"
 	depends on SCSI && SCSI_DMA
-	select PM_DEVFREQ
-	select DEVFREQ_GOV_SIMPLE_ONDEMAND
 	---help---
 	This selects the support for UFS devices in Linux, say Y and make
 	  sure that you know the name of your UFS host adapter (the card
@@ -49,6 +47,10 @@ config SCSI_UFSHCD
 	  However, do not compile this as a module if your root file system
 	  (the one containing the directory /) is located on a UFS device.
 
+config UFS_DYNAMIC_H8
+	bool "UFS Dynamic Hibernation (EXPERIMENTAL)"
+	depends on SCSI_UFSHCD
+
 config SCSI_UFSHCD_PCI
 	tristate "PCI bus based UFS Controller support"
 	depends on SCSI_UFSHCD && PCI
@@ -58,6 +60,14 @@ config SCSI_UFSHCD_PCI
 
 	  If you have a controller with this interface, say Y or M here.
 
+config SCSI_SKIP_CACHE_OP
+	bool "Skip operations for cache coherency"
+	depends on SCSI_UFSHCD
+	---help---
+	  This selects support for skipping operations for cache coherency
+
+	  to reduce I/O overhead if file system layer do same thing.
+
 	  If unsure, say N.
 
 config SCSI_UFSHCD_PLATFORM
@@ -70,3 +80,13 @@ config SCSI_UFSHCD_PLATFORM
 	If you have a controller with this interface, say Y or M here.
 
 	  If unsure, say N.
+
+config SCSI_UFS_EXYNOS
+	tristate "EXYNOS UFS Host Controller Driver"
+	depends on SCSI_UFSHCD && SCSI_UFSHCD_PLATFORM
+	---help---
+	  This selects the EXYNOS UFS host controller driver.
+
+	  If you have a controller with this interface, say Y or M here.
+
+	  If unsure, say N.
