diff --git a/drivers/Kconfig b/drivers/Kconfig
index e451dbab0964..ffdefec87112 100644
--- a/drivers/Kconfig
+++ b/drivers/Kconfig
@@ -20,6 +20,12 @@ source "drivers/block/Kconfig"
 
 source "drivers/misc/Kconfig"
 
+source "drivers/staging/samsung/sec_notifier/Kconfig"
+
+source "drivers/muic/Kconfig"
+
+source "drivers/ifpmic/Kconfig"
+
 source "drivers/ide/Kconfig"
 
 source "drivers/scsi/Kconfig"
@@ -150,8 +156,6 @@ source "drivers/remoteproc/Kconfig"
 
 source "drivers/rpmsg/Kconfig"
 
-source "drivers/soc/Kconfig"
-
 source "drivers/devfreq/Kconfig"
 
 source "drivers/extcon/Kconfig"
@@ -170,6 +174,10 @@ source "drivers/irqchip/Kconfig"
 
 source "drivers/ipack/Kconfig"
 
+source "drivers/battery/Kconfig"
+
+source "drivers/battery_v2/Kconfig"
+
 source "drivers/reset/Kconfig"
 
 source "drivers/fmc/Kconfig"
@@ -184,4 +192,30 @@ source "drivers/ras/Kconfig"
 
 source "drivers/thunderbolt/Kconfig"
 
+source "drivers/trace/Kconfig"
+
+source "drivers/ccic/Kconfig"
+
+source "drivers/bts/Kconfig"
+
+source "drivers/gud/Kconfig"
+
+source "drivers/mailbox/samsung/Kconfig"
+
+source "drivers/marvell/Kconfig"
+
+source "drivers/sensors/Kconfig"
+
+source "drivers/motor/Kconfig"
+
+source "drivers/fingerprint/Kconfig"
+
+source "drivers/gps/Kconfig"
+
+source "drivers/sensorhub/Kconfig"
+
+source "drivers/five/Kconfig"
+
+source "drivers/security/samsung/icdrv/Kconfig"
+
 endmenu
