diff --git a/arch/Kconfig b/arch/Kconfig
index c484676a9b8b..aaf53d655b7c 100644
--- a/arch/Kconfig
+++ b/arch/Kconfig
@@ -390,7 +390,8 @@ config CC_STACKPROTECTOR_REGULAR
 	  by about 0.3%.
 
 config CC_STACKPROTECTOR_STRONG
-	bool "Strong"
+	bool
+	default y if ANDROID_VERSION = "90000" || ANDROID_VERSION = "100000"
 	select CC_STACKPROTECTOR
 	help
 	  Functions will have the stack-protector canary logic added in any
