diff --git a/drivers/mfd/Kconfig b/drivers/mfd/Kconfig
index 9e95b0991962..ea1f862f324c 100644
--- a/drivers/mfd/Kconfig
+++ b/drivers/mfd/Kconfig
@@ -420,6 +420,17 @@ config MFD_MAX77693
 	  additional drivers must be enabled in order to use the functionality
 	  of the device.
 
+config MFD_MAX77833
+        bool "Maxim Semiconductor MAX77833 PMIC Support"
+        depends on I2C=y
+        select MFD_CORE
+        help
+          Say yes here to support for Maxim Semiconductor MAX77833.
+          This is a Power Management IC with LDO, RGB(SVC led), Haptic,
+          MUIC controls on chip.
+          This driver provides common support for accessing the device;
+          additional drivers
+
 config MFD_MAX8907
 	tristate "Maxim Semiconductor MAX8907 PMIC Support"
 	select MFD_CORE
@@ -662,6 +673,71 @@ config MFD_SEC_CORE
 	 additional drivers must be enabled in order to use the functionality
 	 of the device
 
+config MFD_S2MU003
+	bool "SAMSUNG Electronics IF PMIC Series Support"
+	depends on I2C=y
+	select MFD_CORE
+	help
+	 Support for the Samsung Electronics MFD series.
+	 This driver provides common support for accessing the device,
+	 additional drivers must be enabled in order to use the functionality
+	 of the device
+
+config MFD_S2MPB02
+	bool "Samsung Semiconductor S2MPB02 PMIC Support"
+	depends on I2C=y
+	select MFD_CORE
+	help
+	  Say yes here to support for Samsung Semiconductor S2MPB02.
+	  This is a Power Management IC with Flash on chip.
+	  This driver provides common support for accessing the device;
+	  additional drivers
+
+config MFD_S2MU005
+	bool "SAMSUNG Electronics IF PMIC S2MU005 Series Support"
+	depends on I2C=y
+	select MFD_CORE
+	help
+	 Support for the Samsung Electronics MFD series.
+	 This driver provides common support for accessing the device,
+	 additional drivers must be enabled in order to use the functionality
+	 of the device
+
+#modified by khoonk on 2018.01.04
+if !IFPMIC_SUPPORT
+config MFD_S2MU004
+	bool "SAMSUNG Electronics IF PMIC S2MU004 Series Support"
+	depends on I2C=y
+	select MFD_CORE
+	help
+	 Support for the Samsung Electronics MFD series.
+	 This driver provides common support for accessing the device,
+	 additional drivers must be enabled in order to use the functionality
+	 of the device
+endif
+
+config MFD_SM5703
+	bool "Silicon Mitus SM5703 PMIC Support"
+	depends on I2C=y
+	select MFD_CORE
+	help
+	  Say yes here to support for Silicon Mitus SM5703.
+	  This is a Power Management IC with LDO, RGB(SVC led)
+	  controls on chip.
+	  This driver provides common support for accessing the device;
+	  additional drivers
+
+config MFD_SM5705
+	bool "Siliconmitus SM5705 IFPM Support"
+	depends on I2C=y
+	select MFD_CORE
+	help
+	  Say yes here to support for Siliconmitus SM5705.
+	  This is a Power Management IC with USBLDO, RGB(SVC led), Dual Flash, Charger
+	  controls on chip.
+	  This driver provides common support for accessing the device;
+	  additional drivers
+
 config MFD_SI476X_CORE
 	tristate "Silicon Laboratories 4761/64/68 AM/FM radio."
 	depends on I2C
@@ -1309,6 +1385,25 @@ config MFD_WM8994
 	  core support for the WM8994, in order to use the actual
 	  functionaltiy of the device other drivers must be enabled.
 
+
+config MFD_CS35L40
+	tristate "Cirrus Logic CS35L40 codec"
+	select MFD_CORE
+
+config MFD_CS35L40_SPI
+	tristate "Cirrus Logic CS35L40 codec (SPI)"
+	select MFD_CS35L40
+	select REGMAP_SPI
+	select REGMAP_IRQ
+	depends on SPI_MASTER
+
+config MFD_CS35L40_I2C
+	tristate "Cirrus Logic CS35L40 codec (I2C)"
+	select MFD_CS35L40
+	select REGMAP_I2C
+	select REGMAP_IRQ
+	depends on I2C
+
 config MFD_STW481X
 	tristate "Support for ST Microelectronics STw481x"
 	depends on I2C && ARCH_NOMADIK
