diff --git a/drivers/media/platform/exynos/fimc-is2/ischain/fimc-is-v4_0_0/Kconfig b/drivers/media/platform/exynos/fimc-is2/ischain/fimc-is-v4_0_0/Kconfig
new file mode 100644
index 000000000000..bdfe6c895962
--- /dev/null
+++ b/drivers/media/platform/exynos/fimc-is2/ischain/fimc-is-v4_0_0/Kconfig
@@ -0,0 +1,6 @@
+config FIMC_IS_V4_0_0
+	bool "Use fimc-is v4.0.0"
+	depends on EXYNOS_FIMC_IS
+	default n
+	help
+	  fimc-is version 4.0.0
