diff --git a/drivers/cpufreq/Kconfig b/drivers/cpufreq/Kconfig
index a9fdec8597f7..047ac5b3d966 100644
--- a/drivers/cpufreq/Kconfig
+++ b/drivers/cpufreq/Kconfig
@@ -45,6 +45,12 @@ config CPU_FREQ_STAT_DETAILS
 
 	  If in doubt, say N.
 
+config LOAD_BASED_CORE_CURRENT_CAL
+	bool "CPU current accuracy improvement"
+	default n
+	help
+	  This option enable core current calculation to include core work load for Exynos7870
+
 choice
 	prompt "Default CPUFreq governor"
 	default CPU_FREQ_DEFAULT_GOV_USERSPACE if ARM_SA1100_CPUFREQ || ARM_SA1110_CPUFREQ
