diff --git a/drivers/input/touchscreen/sec_incell_ts/Kconfig b/drivers/input/touchscreen/sec_incell_ts/Kconfig
new file mode 100755
index 000000000000..d2e016f6d9f8
--- /dev/null
+++ b/drivers/input/touchscreen/sec_incell_ts/Kconfig
@@ -0,0 +1,13 @@
+#
+# Samsung Electronics TOUCH driver configuration
+#
+
+config TOUCHSCREEN_SEC_INCELL_TS
+        tristate "Samsung Electronics Touchscreen"
+        depends on I2C
+        help
+          Say Y here if you want support for SEC touchscreen controllers.
+          If unsure, say N.
+
+          To compile this driver as a module, choose M here: the
+          module will be called sec_ts.
