diff --git a/drivers/video/fbdev/exynos/Kconfig b/drivers/video/fbdev/exynos/Kconfig
index 1f16b4678c71..07a919fbe04a 100644
--- a/drivers/video/fbdev/exynos/Kconfig
+++ b/drivers/video/fbdev/exynos/Kconfig
@@ -29,4 +29,12 @@ config EXYNOS_LCD_S6E8AX0
 	  If you have an S6E8AX0 MIPI AMOLED LCD Panel, say Y to enable its
 	  LCD control driver.
 
+if SOC_EXYNOS8890
+source "drivers/video/fbdev/exynos/decon_8890/Kconfig"
+endif # SOC_EXYNOS8890
+
+if SOC_EXYNOS7870
+source "drivers/video/fbdev/exynos/decon_7870/Kconfig"
+endif # SOC_EXYNOS7870
+
 endif # EXYNOS_VIDEO
