diff --git a/drivers/usb/host/Kconfig b/drivers/usb/host/Kconfig
index a3ca1375dd52..950e723f8926 100644
--- a/drivers/usb/host/Kconfig
+++ b/drivers/usb/host/Kconfig
@@ -800,3 +800,10 @@ config USB_HCD_TEST_MODE
 	  This option is of interest only to developers who need to validate
 	  their USB hardware designs.  It is not needed for normal use.  If
 	  unsure, say N.
+
+config USB_HOST_L1_SUPPORT
+	boolean "USB2.0 Host Driver support L1 mode"
+	depends on USB_XHCI_HCD && USB
+	help
+	  some USB3.0 memory stick doesn't support L1 mode,
+	  so we add USB_HOST_L1_SUPPORT feature for this.
\ No newline at end of file
