diff --git a/fs/fat/Kconfig b/fs/fat/Kconfig
index 182f9ffe2b51..e656c38e2031 100644
--- a/fs/fat/Kconfig
+++ b/fs/fat/Kconfig
@@ -98,3 +98,27 @@ config FAT_DEFAULT_IOCHARSET
 
 	  Enable any character sets you need in File Systems/Native Language
 	  Support.
+
+config FAT_VIRTUAL_XATTR
+	bool "Virtual xattr support for FAT filesystem"
+	default y
+	depends on FAT_FS
+	help
+	  Modification of FAT filesystem for virtual xattr
+
+config FAT_VIRTUAL_XATTR_SELINUX_LABEL
+	string "Default string for SELinux label"
+	depends on FAT_FS && FAT_VIRTUAL_XATTR
+	default "u:object_r:sdcard_external:s0"
+	help
+	  Set this to the default string for SELinux label.
+
+config FAT_SUPPORT_STLOG
+	bool "Enable storage log"
+	default y
+	depends on FAT_FS && PROC_STLOG
+
+config FAT_UEVENT
+	bool "enable uevent"
+	depends on FAT_FS
+	default y
