diff --git a/fs/proc/Kconfig b/fs/proc/Kconfig
index 2183fcf41d59..7b7c7e713e85 100644
--- a/fs/proc/Kconfig
+++ b/fs/proc/Kconfig
@@ -71,3 +71,16 @@ config PROC_PAGE_MONITOR
 	  /proc/pid/smaps, /proc/pid/clear_refs, /proc/pid/pagemap,
 	  /proc/kpagecount, and /proc/kpageflags. Disabling these
           interfaces will reduce the size of the kernel by approximately 4kb.
+
+config PROC_FSLOG
+	bool "Enable FS logs for improving filesystem debug"
+	depends on PROC_FS
+	select PROC_STLOG
+	select PROC_DLOG
+	default y
+
+config PROC_STLOG
+	bool "Enable Storage log"
+
+config PROC_DLOG
+	bool "Enable delete logs for improving filesystem debug"
