diff --git a/drivers/media/isdbt/Kconfig b/drivers/media/isdbt/Kconfig
new file mode 100755
index 000000000000..99a8aa7fecb2
--- /dev/null
+++ b/drivers/media/isdbt/Kconfig
@@ -0,0 +1,34 @@
+config ISDBT
+	bool "isdbt"
+	default n
+
+choice
+	depends on ISDBT
+	prompt "isdbt driver"
+	default ISDBT_FC8300_SPI
+
+	config ISDBT_FC83X7_SPI
+		bool "ISDBT_FC83X7_SPI"
+
+	config ISDBT_FC8350_SPI
+		bool "ISDBT_FC8350_SPI"
+
+	config ISDBT_FC8300_SPI
+		bool "ISDBT_FC8300_SPI"
+
+	config ISDBT_FC8180_SPI
+		bool "ISDBT_FC8180_SPI"
+
+endchoice
+
+config ISDBT_F_TYPE_ANTENNA
+	bool "isdbt F type antenna"
+	default n
+
+config ISDBT_GPIO_CLK
+	bool "ext isdbt clk cannot controled by clk_prepare"
+	default n
+
+config SEC_ISDBT_FORCE_OFF
+	bool "release isdbt resource during warmreset"
+	default n
\ No newline at end of file
