diff --git a/drivers/misc/mcu_ipc/Kconfig b/drivers/misc/mcu_ipc/Kconfig
new file mode 100644
index 000000000000..5986087911cb
--- /dev/null
+++ b/drivers/misc/mcu_ipc/Kconfig
@@ -0,0 +1,26 @@
+#
+# MCU_IPC Device Driver
+#
+
+config MCU_IPC
+     bool "MCU IPC Support"
+     default n
+	 help
+	   This enables MCU_IPC driver to control the MCU_IPC Device.
+
+	   MCU_IPC is the Mailbox which has 16 interrupts for TX/RX each
+	   and 256 bytes memory for communicating messages.
+	   AP and CP can share the messages through this device.
+
+config MCU_IPC_TEST
+     bool "MCU_IPC driver test"
+     depends on MCU_IPC
+     help
+	This enables MCU_IPC_TEST for checking mailbox at probe time.
+
+config SHM_IPC
+	bool "Shared Memory for IPC support"
+	default n
+	help
+	This enables SHM_IPC driver to control the Shared memory
+	for AP-CP Interface.
