diff --git a/drivers/input/Kconfig b/drivers/input/Kconfig
index eaa208f377ff..2f168528b1dd 100644
--- a/drivers/input/Kconfig
+++ b/drivers/input/Kconfig
@@ -181,6 +181,27 @@ config INPUT_KEYRESET
 	---help---
 	  Say Y here if you want to reboot when some keys are pressed;
 
+config GLOVE_TOUCH
+	tristate "Glove touch"
+	help
+	  Say Y here if you want glove touch.
+
+config INPUT_TOUCHSCREEN_TCLM
+	bool "touchscreen tclm"
+	depends on I2C
+	help
+	  Say Y here if you need to use tclm.
+
+	  If unsure, say N.
+
+config INPUT_TOUCHSCREEN_TCLMV2
+	bool "touchscreen tclmv2"
+	depends on I2C
+	help
+	  Say Y here if you need to use tclm.
+
+	  If unsure, say N.
+
 config INPUT_KEYCOMBO
 	tristate "Key combo"
 	depends on INPUT
@@ -190,6 +211,61 @@ config INPUT_KEYCOMBO
 	  To compile this driver as a module, choose M here: the
 	  module will be called keycombo.
 
+config HALL
+	tristate "Enable HALL"
+	default n
+	help
+	  Enable Hall Feature
+
+config HALL_NOTIFIER
+	bool "HALL notifier support"
+	depends on HALL
+	default n
+	help
+	  If you say yes here you will get support for
+	  the HALL status change notification.
+	  
+config SEC_FLIP_WORK_DOUBLE_CHECK
+	tristate "Enable flip work is checked twice"
+	default n
+	help
+	  Enable SEC_FLIP_WORK_DOUBLE_CHECK Feature	 	  
+
+config CHECK_BOOKCOVER_HALL
+	tristate "Enable to check BookCover HALL"
+	default n
+	help
+	  Enable to check BookCover hall detect Feature
+
+config HALL_EVENT_REVERSE
+	tristate "Adjusting the status value of HALL IC"
+	default y
+	depends on HALL
+	depends on ANDROID_MAJOR_VERSION >= "q"
+	help
+	  Adjusting the status value of HALL IC.
+	  This was required from input FW.
+
+	  If unsure, say N.
+
+config CERTIFY_HALL
+	tristate "Enable CERTIFY HALL"
+	default n
+	help
+	  Enable Certify Hall Feature
+
+config SEC_AUTO_INPUT
+	tristate "Samsung auto input"
+	depends on !SAMSUNG_PRODUCT_SHIP
+	default y
+	help
+	  Say Y here if you use auto input function.
+
+	  If unsure, say N.
+
+	  To compile this driver as a module, choose M here: the
+	  module will be called autoinput.
+
 comment "Input Device Drivers"
 
 source "drivers/input/keyboard/Kconfig"
@@ -202,6 +278,8 @@ source "drivers/input/tablet/Kconfig"
 
 source "drivers/input/touchscreen/Kconfig"
 
+source "drivers/input/wacom/Kconfig"
+
 source "drivers/input/misc/Kconfig"
 
 endif
