diff --git a/drivers/media/platform/exynos/fimc-is2/ischain/fimc-is-v4_3_0/Kconfig b/drivers/media/platform/exynos/fimc-is2/ischain/fimc-is-v4_3_0/Kconfig
new file mode 100644
index 000000000000..997eaec7ff2c
--- /dev/null
+++ b/drivers/media/platform/exynos/fimc-is2/ischain/fimc-is-v4_3_0/Kconfig
@@ -0,0 +1,6 @@
+config FIMC_IS_V4_3_0
+	bool "Use fimc-is v4.3.0"
+	depends on EXYNOS_FIMC_IS
+	default n
+	help
+	  fimc-is version 4.3.0
