diff --git a/net/Kconfig b/net/Kconfig
index 9cc19bc22dda..ca33382a5042 100644
--- a/net/Kconfig
+++ b/net/Kconfig
@@ -242,6 +242,7 @@ source "net/vmw_vsock/Kconfig"
 source "net/netlink/Kconfig"
 source "net/mpls/Kconfig"
 source "net/hsr/Kconfig"
+source "net/ncm/Kconfig"
 
 config RPS
 	boolean "RPS"
@@ -390,3 +391,9 @@ endif   # if NET
 # Used by archs to tell that they support BPF_JIT
 config HAVE_BPF_JIT
 	bool
+
+# Network Pacemaker
+config NETPM
+	bool "Network Pacemaker"
+	---help---
+	This feature implements Network Pacemaker (NETPM)
